name: build and test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1

      - name: Build
        run: |
          cmake -B build
          cmake --build build
          cmake --install build --prefix install

      - name: Run Testing
        run: |
          ./build/Debug/sample.exe
          ./build/Debug/testing.exe

      - name: Test install
        run: |
          cd test-install
          cmake -B build -DONLY_INSTALL=ON -DCMAKE_PREFIX_PATH=../install
          cmake --build build

      - uses: actions/upload-artifact@v4
        with:
          name: sample-windows
          path: build

  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          cmake -B build
          cmake --build build
          cmake --install build --prefix install

      - name: Run Testing
        run: |
          ./build/sample
          ./build/testing

      - name: Test install
        run: |
          cd test-install
          cmake -B build -DONLY_INSTALL=ON -DCMAKE_PREFIX_PATH=../install
          cmake --build build

      - uses: actions/upload-artifact@v4
        with:
          name: sample-linux
          path: build

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: brew install ninja

      - name: Build
        run: |
          cmake -B build -G Ninja
          cmake --build build
          cmake --install build --prefix install

      - name: Run Testing
        run: |
          ./build/sample
          ./build/testing

      - name: Test install
        run: |
          cd test-install
          cmake -B build -G Ninja -DONLY_INSTALL=ON -DCMAKE_PREFIX_PATH=../install
          cmake --build build

      - uses: actions/upload-artifact@v4
        with:
          name: sample-macos
          path: build